In [17]:
s1 = set((1,3,1,4,2))
s1

{1, 2, 3, 4}

In [166]:
s2 = set((1,1,3,2))
s2

{1, 2, 3}

In [167]:
list(s2)

[1, 2, 3]

In [15]:
s1 == s2

False

In [16]:
len([])

0

In [21]:
import pandas as pd
import numpy as np
import csv

In [26]:
df = pd.DataFrame([ [ [],[] ],[ [],[] ],[ [],[] ] ])
df

    0   1
0  []  []
1  []  []
2  []  []

In [29]:
type(df[0].loc[0])

list

In [31]:
df[0].loc[0].append(1)

In [32]:
df

     0   1
0  [1]  []
1   []  []
2   []  []

In [63]:
dh = pd.DataFrame(columns=['a', 'b', 'c', 'd', 'e'] , index=["H","J"])

In [64]:
dh

     a    b    c    d    e
H  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN

In [65]:
dh = dh.applymap(lambda x: [])

In [66]:
dh

    a   b   c   d   e
H  []  []  []  []  []
J  []  []  []  []  []

In [68]:
col = "a"
idx = "H"

In [73]:
dh.loc[idx][col].append(1)

In [74]:
dh

     a   b   c   d   e
H  [1]  []  []  []  []
J   []  []  []  []  []

# start

In [190]:
import pandas as pd
import numpy as np
import csv
from ast import literal_eval

In [191]:
fname = "C:/Users/Administrator/Desktop/nazarieh/my_input3(right format).txt"

In [192]:
f=open(fname)
rows = csv.reader(f)
row_count = sum(1 for row in rows)

In [193]:
f=open(fname)
rows = csv.reader(f)
idx = list(next(rows)[0])
cols = list(next(rows)[0])

In [194]:
cols , idx

(['0', '1', '$'], ['0', '1', '2'])

In [195]:
start = list(next(rows)[0])

In [196]:
final = list(next(rows)[0])

In [197]:
dh = pd.DataFrame(columns=cols , index=idx)

In [198]:
dh

     0    1    $
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  NaN  NaN  NaN

In [199]:
dh = dh.applymap(lambda x: [])

In [200]:
dh

    0   1   $
0  []  []  []
1  []  []  []
2  []  []  []

In [201]:
for i in range(row_count-4):
    List = list(next(rows)[0])
    if(len(List) != 3) : raise ValueError("invalid input")
    row , col , element = List[0] , List[1] , int(List[2])
    dh.loc[row][col].append(element)

In [202]:
f.close()

In [203]:
dh

        0       1    $
0     [1]      []  [1]
1  [0, 2]  [1, 2]   []
2     [2]     [1]   []

In [154]:
dh.loc["1"]["$"]

[]

# producing includuer (epcilons)

In [155]:
def add_includuer(dh):
    if("$" not in dh.columns): return dh
    for i in idx:
        for c in cols:
            #print("\ni is: \t",i,"\t c is: \t",c)
            adition_by_epcilon = []
            for elem in dh.loc[i][c]:
                elem = str(elem)
                adition_by_epcilon.extend(dh.loc[elem]["$"])
            #print("\nadition_by_epcilon is:\t",adition_by_epcilon)
            #print("\ndh.loc[i][c] is:\t",(dh.loc[i][c]))    
            l_temp =[]
            l_temp.extend(dh.loc[i][c])
            l_temp.extend(adition_by_epcilon)
            #print("\nl_temp is:\t",l_temp)
            #print("\nset of dh.loc[i][c] is:\t",l_temp.extend(adition_by_epcilon) )
            l_tmp = list(set(l_temp))
            l_tmp.sort()
            dh.loc[i][c] = l_tmp            
    return dh

In [156]:
for i in range(len(idx)): # maybe len(idx)-1
    dh = add_includuer(dh)

In [157]:
dh

           0       1    $
0        [1]      []  [1]
1  [0, 1, 2]  [1, 2]   []
2        [2]     [1]   []

In [158]:
dh.loc["1"]["$"]

[]

# making DFA

In [159]:
new_idx = []
for i in idx:
    new_idx.append(int(i))

In [160]:
new_idx

[0, 1, 2]

In [161]:
import itertools 
from itertools import combinations, chain

In [162]:
def findsubsets(s, n): 
    return list(map(list, itertools.combinations(s, n)))

In [163]:
l1 = []
for n in range(1,len(new_idx)+1):
    l1.extend(findsubsets(new_idx, n))

In [164]:
for elem in l1:
    elem.sort()

In [165]:
new_idx = []
for l in l1:
    new_idx.append(str(l))

In [166]:
cols , new_idx

(['0', '1', '$'],
 ['[0]', '[1]', '[2]', '[0, 1]', '[0, 2]', '[1, 2]', '[0, 1, 2]'])

In [167]:
if("$" in cols):
    cols.remove("$")

In [168]:
cols.append('flag')

In [169]:
DFA_df = pd.DataFrame(columns=cols , index=new_idx)

In [170]:
DFA_df = DFA_df.applymap(lambda x: [])

In [171]:
DFA_df.flag = 0

In [172]:
DFA_df

            0   1  flag
[0]        []  []     0
[1]        []  []     0
[2]        []  []     0
[0, 1]     []  []     0
[0, 2]     []  []     0
[1, 2]     []  []     0
[0, 1, 2]  []  []     0

In [173]:
dh

           0       1    $
0        [1]      []  [1]
1  [0, 1, 2]  [1, 2]   []
2        [2]     [1]   []

In [174]:
start = [int(start[0])]

In [175]:
start

[0]

In [176]:
start_l = []
start_l.extend(dh.loc[str(start[0])]["$"]) 
start_l.extend(start)

In [177]:
start_l.sort()

# start ( -> )

In [178]:
str(start_l)

'[0, 1]'

In [179]:
literal_eval('[1,2,3]')

[1, 2, 3]

In [180]:
cols , new_idx

(['0', '1', 'flag'],
 ['[0]', '[1]', '[2]', '[0, 1]', '[0, 2]', '[1, 2]', '[0, 1, 2]'])

In [181]:
def turn_to_DFA(DFA,dh):
    stack_set = set()
    stack_set.add(str(start_l))

    while(len(stack_set) > 0):
        row = stack_set.pop()
        if(len(literal_eval(row)) == 0) : 
            continue
        if(DFA.loc[row]["flag"] == 1): 
            continue
        DFA.loc[row,"flag"] = 1
        elements = literal_eval(row)
        for c in cols[:-1] :
            tmp_l = []
            for e in elements:
                tmp_l.extend(dh.loc[str(e)][c])
            tmp_l = list(set(tmp_l))
            tmp_l.sort()
            stack_set.add(str(tmp_l))
            DFA.loc[row,c] = str(tmp_l)
    return DFA

In [182]:
DFA = turn_to_DFA(DFA_df.copy(),dh)

In [183]:
DFA

                   0       1  flag
[0]               []      []     0
[1]               []      []     0
[2]               []      []     0
[0, 1]     [0, 1, 2]  [1, 2]     1
[0, 2]            []      []     0
[1, 2]     [0, 1, 2]  [1, 2]     1
[0, 1, 2]  [0, 1, 2]  [1, 2]     1

In [184]:
DFA = DFA[DFA.flag == 1]
DFA

                   0       1  flag
[0, 1]     [0, 1, 2]  [1, 2]     1
[1, 2]     [0, 1, 2]  [1, 2]     1
[0, 1, 2]  [0, 1, 2]  [1, 2]     1

# final states

In [185]:
final

['1']

In [186]:
tmp_final = []
for f in final:
    for d in dh.loc[f]["$"] :
        tmp_final.append(str(d))
    tmp_final.append(f)

In [187]:
tmp_final

['1']

In [188]:
DFA.index

Index(['[0, 1]', '[1, 2]', '[0, 1, 2]'], dtype='object')

In [189]:
for i in DFA.index:
    for t in tmp_final:
        if (t in list(i)):
            print(i)
            break

[0, 1]
[1, 2]
[0, 1, 2]